
<div class="filter">
	<div class="filter__icon fa fa-search" data-bind="toggleFilter, css: { active: searchFilterVisibility }"></div>
	<div class="filter__input-container animated animated--300" data-bind="css: searchFilterVisibility() ? 'fadeInLeft' : 'fadeOutLeft'">
		<input type="text" class="filter__input" placeholder="Filter" autocapitalize="off" autocorrect="off" data-bind="filter: searchQuery">
		<div class="filter__clear" data-bind="click: clearFilter, visible: searchClearFilterVisibility">
			<span class="fa fa-times-circle"></span>
		</div>
		<div class="filter__input-close" data-bind="toggleFilter">
			<div class="fa fa-times"></div>
		</div>
	</div>
</div>
