
<div class="modal" data-bind="cssAnimateVisible: modalVisibilty, animation: 'slideInUp', animationOut: 'slideOutDown', duration: 200, durationOut: 100">
  <div class="modal__content">
    <div class="modal__header">
      <div class="modal__header-top-bar">
        <span class="modal__close" data-bind="event: { click: closeModal, touchend: closeModal }">
        <span class="icon fa-stack fa-sml">
          <i class="modal__close-icon modal__close-icon--outer fa fa-circle-thin fa-stack-2x"></i>
          <i class="modal__close-icon modal__close-icon--inner fa fa-close fa-stack-1x fa-inverse"></i>
        </span>
        </span>
      </div>
      <div class="modal__image" data-bind="style: { backgroundImage: modalInfoImage }, cssAnimateVisible: modalInfoImageVisibility, animation: 'slideInUp', animationOut: 'slideOutDown', duration: 300, durationOut: 300"></div>
      <div class="modal__price price" data-bind="css: modalInfoPrice">
        <span class="price__dollar price__dollar--01"></span>
        <span class="price__dollar price__dollar--02"></span>
        <span class="price__dollar price__dollar--03"></span>
        <span class="price__dollar price__dollar--04"></span>
      </div>
      <div class="modal__header-bottom-bar">
      </div>
    </div>
    <div class="modal__body">
      <div class="modal__rating rating" data-bind="css: modalInfoRating">
        <span class="rating__star rating__star--01"></span>
        <span class="rating__star rating__star--02"></span>
        <span class="rating__star rating__star--03"></span>
        <span class="rating__star rating__star--04"></span>
        <span class="rating__star rating__star--05"></span>
      </div>
      <div class="modal__actions">
        <div class="modal__actions-item modal__actions-item--left" data-bind="event: { click: openModalOverlay, touchend: openModalOverlay }">
          <div class="modal__phone">
            <span class="icon fa fa-phone"></span>
          </div>
        </div>
        <div class="modal__actions-item modal__actions-item--right" data-bind="click: uberRideRequest">
          <div class="uber">
            <div class="uber__icon">
              <span class="uber__loader" data-bind="visible: modalUberLoading"></span>
            </div>
            <div class="uber__estimate" data-bind="cssAnimateVisible: modalUberEstimateVisibility, animation: 'fadeInLeft', animationOut: 'fadeOut', duration: 300, durationOut: 300">
              <span data-bind="text: modalUberEstimate"></span>
            </div>
            </div>
        </div>
      </div>
      <div class="modal__info">
        <div class="modal__info-item modal__info-item--left">
          <span class="modal__info-icon fa fa-compass"></span>
          <p class="modal__info-text modal__info-text--name" data-bind="text: modalInfoName"></p>
          <p class="modal__info-text modal__info-text--address" data-bind="text: modalInfoAddress"></p>
        </div>
        <div class="modal__info-item modal__info-item--right" data-bind="visible: modalInfoWebsite">
          <span class="modal__info-icon fa fa-globe"></span>
          <p><a class="modal__info-text modal__info-text--link" data-bind="attr: { href: modalInfoWebsite }" target="_blank">Website</a></p>
        </div>
      </div>
    </div>
    <div class="modal__overlay" data-bind="cssAnimateVisible: modalOverlayVisibility, animation: 'slideInUp', animationOut: 'slideOutDown', duration: 300, durationOut: 300">
      <div class="modal__overlay-message" data-bind="cssAnimateVisible: modalOverlayMessageVisibility, animation: 'bounceIn', animationOut: 'fadeOut', duration: 300, durationOut: 100, text: modalOverlayMessage"></div>
      <div id="clipboardTarget" class="modal__overlay-phone" data-bind="text: modalInfoPhone"></div>
      <div class="modal__overlay-actions">
        <div class="modal__overlay-button-group button-group" data-bind="visible: modalInfoPhoneCall, css: modalOverlayGroupButtons">
          <button class="modal__overlay-button modal__overlay-button--copy button-group__button button button--default button--radius" data-bind="visible: modalOverlayCopyButtonVisibility, clipboard" data-clipboard-target="#clipboardTarget">Copy</button>
          <a class="modal__overlay-button button-group__button call button button--action button--radius" data-bind="attr: { href: 'tel:'+modalInfoPhoneCall() }">Call</a>
        </div>
        <button class="modal__overlay-button modal__overlay-button--cancel button button--cancel button--radius button--expand" data-bind="event: { click: closeModalOverlay, touchend: closeModalOverlay }">Close</button>
      </div>
    </div>
    <div class="modal__footer">
      <div class="modal__foursquare">
        <a class="modal__foursquare-button" data-bind="visible: modalFoursquareVisibility(), attr: { href: modalFoursquareURL() }" target="_blank">
          <span class="modal__foursquare-icon fa fa-foursquare"></span>
          <span>View in Foursquare</span>
        </a>
      </div>
    </div>
    <div class="modal__loading" data-bind="cssAnimateVisible: modalLoading, animation: 'bounceIn', animationOut: 'zoomOut', duration: 300, durationOut: 300">
      <div class="modal__loading-loader"></div>
    </div>
  </div>
