
// Images

$brand-black: url(../images/panda-black.png);
$brand-white: url(../images/panda-white.png);
$default-large: url(../images/default-large.png);
$default-small: url(../images/default-small.png);
$landing-background-large: url(../images/landing-background-large.png);
$landing-background-medium: url(../images/landing-background-medium.png);
$landing-background-small: url(../images/landing-background-small.png);
$uber-badge: url(../images/uber-badge.png);

