
// Images

$brand-black: url(../images/panda-black.png);
$brand-white: url(../images/panda-white.png);
$default-large: url(../images/default-large.png);
$default-small: url(../images/default-small.png);
$landing-background: url(../images/landing-bg.png);
$uber-badge: url(../images/uber-badge.png);

