<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <title>Map Panda</title>
  <meta name="description" content="Explore popular locations around you">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Set canonical URL -->
  <link rel="canonical" href="https://mappanda.com">

  <!-- Run IE in the highest mode available -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Run in full-screen mode on iOS Safari -->
  <meta content="yes" name="apple-mobile-web-app-capable">

  <!-- Set style of the status bar on iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicons/favicon-16x16.png">
  <link rel="manifest" href="/dist/favicons/site.webmanifest">
  <link rel="mask-icon" href="dist/favicons/safari-pinned-tab.svg" color="#2eb398">
  <link rel="shortcut icon" href="/dist/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/dist/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
<body data-bind="viewportWidth, preventSwipeTap">
	<div class="main-content" role="main">
    <%= require('html-loader!./partials/map.html').default %>
	</div>

  <%= require('html-loader!./partials/landing.html').default %>
  <%= require('html-loader!./partials/brand.html').default %>
  <%= require('html-loader!./partials/menu.html').default %>
  <%= require('html-loader!./partials/filter.html').default %>
  <%= require('html-loader!./partials/modal.html').default %>

	<!-- Google Maps API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4KC7nmHmDdz1n0H9xy9rm_B9YAUPeo_A&libraries=places"></script>

</body>
</html>
