
// Images

$images: (
	default-large: url(../images/default-large.svg),
	default-small: url(../images/default-small.svg)
);

@function image($key) {
  @if map-has-key($images, $key) {
    @return map-get($images, $key);
  }

  @warn "Unknown `#{$key}` in $images.";
  @return null;
}
