
// Content 

html {
	height: 100%;
	overflow: hidden;
}
	
body {
	background: #505050;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: auto;
}

.main-content {
	outline: none;
	height: 100%;
}