
// Content 

.content {
	outline: none;

	.info {
		left: 0;	
		position: absolute;
		top: 80px;
		width: 100%;

		.info-content {
				height: 100px;
				margin: 0 40px 0 240px;	
    		border-bottom: 1px solid #ecf0f1;
		}
	}
}