
// Menu

.menu {
		background: #232b2d;
    height: 28px;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
		
		&:before {
			@include box-shadow(inset -4px 0 5px -5px #404040);
			@include text-shadow(#404040 1px 1px 0px);
		  background: #232b2d;
		  border-right: 1px solid #1e1e1e;
		  color: #1e1e1e;
		  content: "\f041";
		  display: inline-block;
		  font-family: FontAwesome;
		  font-size: 26px;
		  font-style: normal;
		  font-weight: normal;
		  height: 100%;
		  left: 0;
		  padding: 11px 0;
		  position: absolute;
		  text-align: center;
		  top: 0;
		  width: 52px;
		  z-index: 1;
		}

		@media #{$medium-up} {
			height: 39px;

			&:before {
				font-size: 36px;
				padding: 15px 0;
				width: 63px;
			}
		}

    @media #{$large-up} {
    	height: 100%;
    	top: 0;	
    	margin-top: 82px;
    	padding: 0;
    	width: 203px;
    	overflow: hidden;

    	&:before {
    		display: none;
    	}
    }

    .search-filter {
    	padding: 10px;
    	display: none;

    	@media #{$large-up} {
    		display: block;
    	}

			.search-input {
		    @include border-radius(3px);
		    background: #fefefe;
		    border: 2px solid #fff;
		    height: 23px;
		    outline: none;
		    padding: 0 2px;
		    width: 100%;

		    &:focus {
		    	outline-color: transparent;
		    	outline-style: none;	
		    }
			}
    }

    .search-radius {
  		padding: 10px 10px 5px 10px;	
			display: none;

		  @media #{$large-up} {
  			display: block;	  	
		  }
    }

    .place-list {
			color: #fff;
			margin: 0 0 0 32px;
			padding: 0 0 10px 0;
			width: 100%;
			overflow-y: hidden;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			white-space: nowrap;

			@media #{$medium-up} {
  			margin: 0 0 0 42px; 
			}

			@media #{$large-up} {
				height: 510px;
				margin: 20px 0 0 0;
				padding: 0;
				width: 200px;				
				overflow: auto;
			}
			
    	.item {
			  color: #667174;
			  display: inline;
			  font-size: 17px;
			  line-height: 1;
			  margin: 0 0 0 18px;
    		@include transition(all .2s linear);
				
				@media #{$medium-up} {
					font-size: 18px;
				}

    		@media #{$large-up} {
    			display: block;
    			font-size: 15px;
    			margin: 0 0 0 8px;
    		}

			  &:hover,
			  &.active {
					cursor: pointer;
			  	color: #fff;

			  	.icon {
			  		.icon-outer {
			  			color: #fff;
			  		}
			  	 	.icon-inner {
			  			color: #2eb398;
			  		}
			  	}
			  }

    		&.hidden {
    			display: none;
    		}

				.icon {
					@include transition(all .5s ease-in-out);
					margin: 0 5px 0 0;

					@media #{$medium-up} {
						margin: 6px 5px 0 0;
					}

					@media #{$large-up} {
						margin: 0 5px 0 0;
					}

	    		.icon-inner {
						color: #667174;
						font-size: 11px;
						line-height: 2.7;
	    		}

	    		.icon-outer {
						color: #6f7b7e;
						font-size: 28px;
	    		}
    		}	
    	}
    }
}