
// Menu

.menu {
		background: #232b2d;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 2;

    .brand {
    	background: $accent-color;
    	height: 82px;
    	left: 0;
    	position: absolute;
    	top: 60px;
    	width: 100%;
    }

    .filter {
    	margin-top: 180px;
    }

    .options {
			color: #fff;
			margin-top: 20px;
			
    	.option {
    		outline: none;

    		&.active {
    			outline: none;
    		}

    		&.hidden {
    			display: none;
    		}
    	}
    }
}