
// Animation

@include keyframes(pulse) {
		from {
			border: 3px solid #fff;
		}
		to {
			border: 5px solid #fff;
		}
}

@include keyframes(pulse-fade) {
		from {
			@include transform(scale(0.2));
			opacity: 1.0;
		}
		95% {
			@include transform(scale(1.5));
			opacity: 0;
		}
		to {
			@include transform(scale(0.3));
			opacity: 0;
		}
}

@include keyframes(spin) {
	100% {
		@include transform(rotate(360deg));
	}	
}

@include keyframes(buzz) {
	50% {
		@include transform(translateX(1px) rotate(1deg));
	}
	100% {
		@include transform(translateX(-1px) rotate(-1deg));
	}
}

@include keyframes(fade-in) {
	0% 	 { opacity: 0 }	
	100% { opacity: 1 }
}
