
// Animation

@include keyframes(pulse) {
		from {
			border: 3px solid #fff;
		}
		to {
			border: 4px solid #fff;
		}
}

@include keyframes(pulse-fade) {
		from {
			@include transform(scale(0.2));
			opacity: 1.0;
		}
		95% {
			@include transform(scale(1.3));
			opacity: 0;
		}
		to {
			@include transform(scale(0.3));
			opacity: 0;
		}
}
