
// Info Window

.info-box {
	@include border-radius(3px);	

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: rgba(255,255,255,0.95) transparent transparent transparent;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -10px;
		margin: auto;
	}

	.info-box-content {
		@include border-radius(3px);	
		background: $white;
		padding: 2px 40px 2px 40px;
		position: relative;
		min-height: 35px;

		.info-box-title {
		  line-height: 1.3;
		  margin: 2px;
		  width: 160px;
		  text-overflow: ellipsis;
		  overflow: hidden;
		  white-space: nowrap;
		  color: $scorpion;
		  font-size: 12px;
		  font-weight: 500;
		}

		.info-box-rating {
		  position: absolute;
		  top: 16px;
		  left: 41px;
		}

		.info-box-image {
			width: 30px;
			height: 30px;
			background-size: cover;
			position: absolute;
			top: 5px;
			left: 5px;
		}

		.info-box-icon {
		  @include border-radius(2px);
		  border: 1px solid;
		  color: $gray;
		  font-size: 14px;
		  height: 13px;
		  opacity: 0.3;
		  position: absolute;
		  right: 4px;
		  text-align: center;
		  top: 4px;
		  width: 13px;
		  padding: 1px;
		}
	}
}