
// Landing

.landing {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5000;
  background: $landing-bg-small no-repeat center center fixed $jungle-green;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media #{$medium-up} {
		background: $landing-bg-medium no-repeat center center fixed $jungle-green;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }

  @media #{$large-up} {
  	background: $landing-bg-large no-repeat center center fixed $jungle-green;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }

  @media #{$xlarge-up} {
  	background: $landing-bg-xlarge no-repeat center center fixed $jungle-green;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }

	&:before {
		content: '';
		background: rgba(33, 178, 166, 0.65);
		border-top: 5px solid rgba(46, 56, 66, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.landing-brand {
		@include border-radius(999px);
	  background: url(../images/panda-black.png);
	  background-size: 80%;
	  background-repeat: no-repeat;
	  background-position: 50% 60%;
	  left: 0;
	  right: 0;
	  top: -120px;
	  margin: auto;
	  opacity: 0.65;
	  width: 68px;
	  height: 68px;
	  background-color: rgba(255, 255, 255, 0.7);
	  border: 2px solid #fff;
	  position: absolute;

		@media #{$medium-up} {
	    // height: 60px;
	    // margin: 20px auto;
	    // width: 60px;
		}

		@media #{$large-up} {
	  	display: inline-block;
	  	vertical-align: middle;
	  	position: static;
	  	top: auto;
		}
	}

	.landing-header {
		color: rgba(46, 56, 66, 0.8);
		font-size: 48px;
		font-weight: $font-extra-bold;
		left: 0;
		margin: auto;
		min-width: 200px;
		padding: 10px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 27.5%;

	  @media #{$medium-up} {
	  	font-size: 52px;
	  	top: 28%;
	  	letter-spacing: 3px;
	  }
	}

	.landing-info {
	  color: #fafafa;
	  font-size: 13px;
	  font-weight: 200;
	  left: 0;
	  margin: auto;
	  padding-bottom: 20px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 38%;
	  width: 320px;

	  @media #{$medium-up} {
	  	font-size: 19px;
	  	top: 45%;
	  	width: 500px;
	  }
	}

	.landing-loading {
		height: 100px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 48.2%;
		width: 100px;

		@media #{$medium-up} {
			top: 54.5%;
		}
	}

	.landing-action {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	  left: 0;
	  margin: auto;
	  padding-top: 20px;
	  position: absolute;
	  right: 0;
	  top: 48%;
	  width: 250px;

	  .button {
	  	background-color: $white;
	  	color: rgba(33, 178, 166, 1);
	  	font-weight: 900;
	  	letter-spacing: 1px;
	  	text-transform: uppercase;
	  	position: relative;
	  }

	  @media #{$medium-up} {
	  	width: 270px;
	  	top: 54%;
	  }
	}

	.landing-powered {
	  bottom: 15%;
	  height: 25px;
	  left: 0;
	  margin: auto;
	  position: absolute;
	  right: 0;
	  width: 200px;

		.landing-powered-header {
		  color: #c7ebe8;
		  font-size: 8px;
		  letter-spacing: 1px;
		  position: absolute;
		  text-align: center;
		  text-transform: uppercase;
		  top: -20px;
		  width: 200px;
		}

		.brand-list {
			list-style: none;
			text-align: center;

			.item {
			  background: rgba(255, 255, 255, 0.95);
			  display: inline-block;
			  margin: 0 0 0 -1px;
			  width: 40px;

  			.url {
  				outline: none;
  			}

  			.icon {
					color: $tundora;
					font-size: 14px;
					padding: 3px;
  			}

				&.foursquare {
					@include border-radius(3px 0 0 3px);
					.icon {
  					color: #f94877;
  				}
  			}

  			&.google {
  				@include border-radius(0 3px 3px 0);
  				.icon {
  					color: #dd4b39;
  				}
  			}

			}
		}
	}

	.landing-notification {
		top: 220px;
		z-index: 5000;

		@media #{$medium-up} {
			top: 250px;
		}

		@media #{$large-up} {
			top: 260px;
		}
	}

	.landing-reload {
		top: 155px;
		z-index: 5000;

		@media #{$medium-up} {
			top: 177px;
		}

		@media #{$large-up} {
			top: 187px;
		}
	}
}
