
// Landing

.landing {
  background-color: color(gray);
  background-size: 100%;
  background-image: image(default-large);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  @include animation(100s scroll infinite linear);

	&:before {
		content: '';
		background: rgba(color(jungle-green), 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media #{$medium-up} {
		background-size: 85%;
	}

	@media #{$large-up} {
		background-size: 35%;
	}

	.landing-header {
		color: color(off-white);;
		font-size: 48px;
		font-weight: $font-extra-bold;
		left: 0;
		margin: auto;
		min-width: 200px;
		padding: 10px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 27.5%;

	  @media #{$medium-up} {
	  	font-size: 52px;
	  	top: 250px;
	  	letter-spacing: 3px;
	  }
	}

	.landing-info {
	  color: color(off-white);;
	  font-size: 13px;
	  font-weight: $font-light;
	  left: 0;
	  margin: auto;
	  padding-bottom: 20px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 38%;
	  width: 320px;

	  @media #{$medium-up} {
	  	font-size: 15px;
	  	top: 330px;
	  	width: 500px;
	  }
	}

	.landing-loading {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.landing-action {
	  left: 0;
	  margin: auto;
	  padding-top: 20px;
	  position: absolute;
	  right: 0;
	  top: 48%;
	  width: 250px;

	  .button {
	  	background-color: color(silver-tree);
	  	border-color: color(silver-tree);
	  	color: color(white);
	  	font-weight: 900;
	  	letter-spacing: 1px;
	  	text-transform: uppercase;
	  	padding: 15px;
	  	position: relative;
	  	@include transition(all .5s linear);

	  	&:hover {
	  		background-color: color(boulder);
	  		border-color: color(boulder);
	  	}
	  }

	  @media #{$medium-up} {
	  	width: 270px;
	  	top: 380px;
	  }
	}

	.landing-powered {
	  bottom: 15%;
	  height: 25px;
	  left: 0;
	  margin: auto;
	  position: absolute;
	  right: 0;
	  width: 124px;

		.landing-powered-header {
		  color: color(off-white);;
		  font-size: 8px;
		  letter-spacing: 1px;
		  position: absolute;
		  text-align: center;
		  text-transform: uppercase;
		  top: -20px;
		  width: 100%;
		}

		.brand-list {
			list-style: none;
			text-align: center;
			width: 100%;

			.item {
				background: rgba(255, 255, 255, 0.95);
				display: inline-block;
				width: 40px;
				float: left;

	  			.url {
	  				outline: none;
	  			}

	  			.icon {
					color: color(tundora);
					font-size: 14px;
					padding: 3px;
	  			}

				&.foursquare {
					@include border-radius(3px 0 0 3px);

					.icon {
	  					color: #f94877;
	  				}
	  			}

	  			&.uber {
					margin: 0 2px; 

	  				.icon {
						background-image: image(uber-badge);
						background-repeat: no-repeat;
						background-size: cover;
						display: inline-block;
						height: 15px;
						margin: auto auto -2px;
						padding: 0;
						width: 15px;
	  				}
	  			}

	  			&.google {
	  				@include border-radius(0 3px 3px 0);

	  				.icon {
	  					color: #dd4b39;
	  				}
	  			}

			}
		}
	}

	.landing-notification {
		top: 220px;
		z-index: 5000;

		@media #{$medium-up} {
			top: 250px;
		}

		@media #{$large-up} {
			top: 260px;
		}
	}

	.landing-reload {
		top: 155px;
		z-index: 5000;

		@media #{$medium-up} {
			top: 177px;
		}

		@media #{$large-up} {
			top: 187px;
		}
	}
}
