
// Loaders

.loader {
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-color: #fff;;
  border-width: 10px;
  border-top-color: transparent;
  @include border-radius(40px);
  @include animation(spin 1.0s infinite linear);
  position: absolute;
}

.main-loader {
	@extend .loader;
	width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-loader {
	@extend .loader;
	width: 40px;
  height: 40px;
	border-width: 6px;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

.uber-loader {
	@extend .loader;
	background: #1d1e27;
	width: 16px;
	height: 16px;
	border-width: 2px;
	top: 5px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
}

.map-loader {
	display: table;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;

	.content {
		display: table-cell;
		vertical-align: middle;

		.icon {
		  @include border-radius(10px);
		  background: rgba(255, 255, 255, 0.5);
		  color: #ed5565;
		  margin: auto;
		  padding: 5px;
		  width: 50px;
		}
	}
}
