
// Loaders

.loader {
  @include box-sizing(border-box);
  @include border-radius(40px);
  @include animation(spin 1.0s infinite linear);
  border-style: solid;
  border-color: $white;
  border-width: 10px;
  border-top-color: transparent;
  position: absolute;
}

.main-loader {
	@extend .loader;
	width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-loader {
	@extend .loader;
	width: 30px;
  height: 30px;
	border-width: 4px;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;

  @media #{$medium-up} {
  	width: 40px;
  	height: 40px;
  	border-width: 5px;
  	top: 57px;
  }
}

.uber-loader {
	@extend .loader;
	background: $shark;
	width: 16px;
	height: 16px;
	border-width: 3px;
	top: 3px;
  right: 0;
  left: 1px;
  margin: auto;
  z-index: 9999;

  @media #{$medium-up} {
  	top: 5px;
  }
}

.map-loader {
	display: table;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;

	.content {
		display: table-cell;
		vertical-align: middle;

		.icon {
			@include border-radius(10px);
			background: rgba(255, 255, 255, 0.5);
			color: $mandy;
			font-size: 35px;
			margin: auto;
			padding: 3px 5px;
			width: 30px;

		  @media #{$medium-up} {
				font-size: 45px;
				padding: 3px 7px;
				width: 40px;
		  }
		}
	}
}

.landing-loader {
	.radial-pulse-outer {
		@include animation(pulse-fade 2.1s linear infinite);
		@include border-radius(999px);
	  background: transparent;
	  border: 3px solid rgba(51, 149, 255, 0.9);
	  height: 50px;
	  margin: auto;
	  top: 5px;
	  left: 0;
	  right: 0;
	  position: absolute;
	  width: 50px;
	  z-index: 1;
	}

	.radial-pulse-inner {
		@include animation(pulse-fade 2.1s 0.5s ease-out infinite);
		@include border-radius(999px);
	  background: transparent;
	  border: 3px solid rgba(51, 149, 255, 0.9);
	  height: 30px;
	  margin: 15px auto;
	  left: 0;
	  right: 0;
	  position: absolute;
	  width: 30px;
	  z-index: 1;		
	}
}

.body-loader {
	@include border-radius(999px);
  background: url(../images/panda-black.png);
  background-color: $white;
  background-size: 80%;
  background-position: center 58%;
  background-repeat: no-repeat;
  height: 80px;
  left: 0;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 41%;
  width: 80px;
  z-index: 0;
}
