
// Map

.map {
	height: 100%;
	margin: 0;
	padding: 0;
}

// Zoom Buttons
.zoom-button {
	cursor: pointer;
	position: absolute;
	right: 20px;
	z-index: 999;

	&.zoom-in {
		bottom: 200px;	
	}
	&.zoom-out {
		bottom: 100px;
	}
}

// Pan To Button
.pan-to {
	background: #fff;
	@include border-radius(3px);
	width: 50px; 
	height: 50px;
	position:absolute; 
	right: 20px; 
	top: 165px;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	.icon {
		font-size: 24px;
		margin: 12px;
	}
}

// Hide 'listings'
.gm-style-cc:nth-child(n+8) {
    display: none;
}