
// Map Controls

.map-zoom-buttons {
	@include border-radius(3px);
	@include box-shadow(0 0 4px 1px rgba(0,0,0,0.3));
	background: $outer-space;
	display: none;
	top: 130px;
	height: 60px;
	position: absolute;
	right: 23px;
	text-align: center;
	width: 25px;
	z-index: 999;

	@media #{$large-up} {
		display: block;
		top: 160px;
	}

	.map-zoom-button {
		color: $sirocco;
		@include transition(all .5s linear);
		height: 29px;
		left: 0;
		line-height: 1.8;
		position: absolute;
		width: 100%;
		z-index: 2000;

		&:hover {
			color: $white;
			cursor: pointer;
		}

		&.zoom-in {
			border-bottom: 1px solid $nevada;
			top: 0;
		}

		&.zoom-out {
			border-top: 1px solid $nevada;
			bottom: 0;
		}
	}
}

.map-pan-to {
	@include border-radius(999px);
	@include box-shadow(1px 1px 5px 1px rgba(0,0,0,0.3));
	@include transition(all .5s linear);
	background: $white;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position:absolute;
	right: 10px;
	text-align: center;
	top: 65px;
	vertical-align: middle;
	width: 40px;
	z-index: 2000;

	&:hover {
		color: $white;
		cursor: pointer;
	}

	.icon {
		color: $jungle-green;
		font-size: 20px;
		line-height: inherit;
	}

	@media #{$medium-up} {
		left: auto;
		right: 15px;
		top: 87px;
	}

	@media #{$large-up} {
		background: $white;
		height: 30px;
		line-height: 30px;
		right: 21px;
		top: 105px;
		width: 30px;

		.icon {
			font-size: 18px;
		}
	}
}
