
// Map Compass

.map-compass {
	@include border-radius(999px);
	@include box-shadow(1px 1px 5px 1px rgba(0,0,0,0.3));
  background: $white-transparent;
  display: none;
  height: 32px;
  left: 10px;
  margin: 20px auto 0 auto;
  position: absolute;
  top: 45px;
  width: 32px;
  z-index: 2000;

  &:before {
		@include border-radius(999px);
		background: $white;
		content: '';
		height: 5px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 14px;
		width: 5px;
		z-index: 3000;
	}

  @media #{$medium-up} {
  	left: 13px;
 		right: auto;
 		top: 68px;
  }

  @media #{$large-up} {
  	left: 13px;
  	right: auto;
  	top: 78px;
  }

  .north, .south {
	  height: 14px;
	  left: 13px;
	  position: absolute;
	  width: 7px;
  }

  .north {
	  @include border-radius(5px 5px 0 0);
	  background: $mandy;
	  color: $white;
	  font-size: 5px;
	  line-height: 2.4;
	  text-align: center;
	  top: 2px;
  }

  .south {
	  @include border-radius(0 0 5px 5px);
	  background: $athens-gray;
	  top: 16px;
  }
}
