
// Map Controls

.map-zoom-buttons {
	@include border-radius(3px);
	background: #232b2d;
	display: none;
	top: 130px;
	height: 60px;
	position: absolute;
	right: 23px;
	text-align: center;
	width: 25px;
	z-index: 999;

	@media #{$large-up} {
		display: block;
		top: 160px;
	}

	.map-zoom-button {
		color: #667174;
		@include transition(all .5s linear);
		height: 29px;
		left: 0;
		line-height: 1.8;
		position: absolute;
		width: 100%;
		z-index: 2000;

		&:hover {
			color: #ffffff;
			cursor: pointer;
		}

		&.zoom-in {
			border-bottom: 1px solid #667174;
			top: 0;	
		}

		&.zoom-out {
			border-top: 1px solid #667174;
			bottom: 0;	
		}
	}
}

.map-pan-to {
	@include border-radius(999px);
	@include transition(all .5s linear);
	background: #232b2d;
	color: #ffffff;
	height: 30px;
	position:absolute; 
	right: 10px; 
	text-align: center;
	top: 72px;
	width: 30px; 
	z-index: 2000;

	@media #{$medium-up} {
		left: auto;
		right: 15px;
		top: 95px;
	}

	@media #{$large-up} {
		right: 21px;
		top: 105px;		
	}

	&:hover {
		color: #ffffff;
		cursor: pointer;
	}

	.icon {
		font-size: 18px;
		line-height: 1.7;
	}
}
