
// Map Info

.map-info {
	background: rgba(255, 255, 255, 0.5);
	left: 0;	
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3000;

	.content {
		height: 52px;
  	padding: 0 82px;

		@media #{$medium-up} {
			height: 71px;
			padding: 0 90px;
		}

		@media #{$large-up} {
			height: 82px;
			padding: 0 28px;
		}

		.content-header {
			color: $gable-green;
		  font-weight: $font-light;
		  line-height: 2.4;

		  @media #{$small-only} {
				font-size: 22px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 180px;
		  }

			@media #{$medium-up} {
				font-size: 28px;
			}

		  @media #{$large-up} {
		  	font-size: 32px;
		  }
		}
	}
}
