
// Wheel Menu

.menu-wheel {
  bottom: 50px;
  height: 150px;
  margin: 0;
  position: absolute;
  right: -5px;
  width: 150px;
  z-index: 2000;

  &:before {
  	@include border-radius(999px);
  	background: $outer-space;
  	color: $white;
		content: '(KM)';
		font-family: $base-font-family;
		font-size: 10px;
		font-weight: $font-regular;
		height: 32px;
		line-height: 3.1;
		position: absolute;
		text-align: center;
		top: 59px;
		left: 59px;
		width: 32px;
		z-index: 2000;
  }

  @media #{$medium-up} {
  	bottom: 65px;
  	height: 180px;
  	right: 5px;
  	width: 180px;

  	&:before {
  		font-size: 14px;
  		height: 38px;
  		width: 38px;
  		top: 71px;
  		left: 71px;
  		line-height: 2.7;
  	}
  }

	@media #{$large-up} {
		bottom: 10px;
		height: 200px;
		right: -5px;
		width: 200px;

		&:before {
			font-size: 15px;
			height: 42px;
			left: 79px;
			line-height: 2.7;
			top: 79px;
			width: 42px;
		}
	}
		
	svg {
		width: 100%;
		height: 100%;
	}

	[class|=wheelnav-wheelNav-slice-basic] { 
		fill: $jungle-green; 
		stroke: none; 
	}

	[class|=wheelnav-wheelNav-slice-selected] { 
		fill: $jungle-green; 
		stroke: none; 
	}

	[class|=wheelnav-wheelNav-slice-hover] { 
		fill: $jungle-green;  
		stroke: none; 
		fill-opacity: 0.77; 
		cursor: pointer; 
	}

	[class|=wheelnav-wheelNav-title-basic] { 
		fill: $mine-shaft; 
		stroke: none; 
	}

	[class|=wheelnav-wheelNav-title-selected] { 
		fill: $white; 
		stroke: none; 
	}

	[class|=wheelnav-wheelNav-title-hover] { 
		fill: $mine-shaft; 
		stroke: none; 
		cursor: pointer; 
	}
	
	[class|=wheelnav-wheelNav-title] > tspan { 
		font-family: $base-font-family; 
		font-size: 9px;
		font-weight: $font-bold;

		@media #{$medium-up} {
			font-size: 10px;
		}

		@media #{$large-up} {
			font-size: 12px; 
		}
	}

	.wheelnav-wheelNav-marker { 
		fill: $outer-space; 
		stroke: $outer-space; 
		stroke-width: 2;
	}

	.wheelnav-wheelNav-spreader-in,
	.wheelnav-wheelNav-spreader-out { 
		fill: $outer-space; 
		stroke: $outer-space; 
		stroke-width: 2; 
		cursor: pointer; 
	}

	.wheelnav-wheelNav-spreadertitle-in,
	.wheelnav-wheelNav-spreadertitle-out { 
		fill: $gallery; 
		stroke: $outer-space; 
		cursor: pointer; 
	}
}

