
// Info Modal

.modal {
	background: $white;
	display: none;
	@include border-radius(7px);
	@include box-shadow(0 0 1px 1px rgba(0,0,0,0.1));
	width: 200px;
	height: 290px;
	left: 20px;
	right: auto;
	top: 75px;
	position: absolute;
	overflow: hidden;
	z-index: 1000;

	@media #{$medium-up} {
		width: 270px;
		height: 370px;
		left: 20px;
		top: 95px;
	}

	@media #{$large-up} {
		left: 230px;
		right: auto;
		top: 110px;
	}

	.modal-content {
		height: 100%;
		position: relative;

		.modal-header {
			background: $outer-space;
			position: relative;
			height: 100px;
			overflow: hidden;
			z-index: 2;

			@media #{$medium-up} {
				height: 140px;
			}

			.top-bar {
				background: $jungle-green;
				position: absolute;
				top: 0;
				left: 0;
				height: 20px;
				width: 100%;
				z-index: 3;

				@media #{$medium-up} {
					height: 25px;
				}

				.close-modal {
					font-size: 8px;
					position: absolute;
					top: -3px;
					right: 3px;

					&:hover {
						cursor: pointer;
					}

					@media #{$medium-up} {
						font-size: 10px;
						top: 0;
					}

					.icon-outer {
						color: $white;
					}

					.icon-inner {
						color: $white;
					}
				}
			}

			.image {
				background-size: cover;
				height: 100%;
			}

			.place-price {
			  @include border-radius(3px);
			  background: rgba(255,255,255,0.3);
			  font-size: 11px;
			  height: 17px;
			  left: 7px;
			  line-height: 1.6;
			  position: absolute;
			  text-align: center;
			  top: 30px;
			  width: 50px;
			}

			.bottom-bar {
				background: $jungle-green;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}

		.modal-body {
			position: relative;
			margin: 5px 10px;

			.place-rating {
			  background: $white;
			  @include border-radius(4px);
			  border: 2px solid $jungle-green;
			  color: $white;
			  display: inline-block;
			  font-size: 7px;
			  font-weight: 300;
			  height: 9px;
			  left: 0;
			  line-height: 9px;
			  margin: auto;
			  position: absolute;
			  right: 0;
			  text-align: center;
			  top: -11px;
			  vertical-align: middle;
			  width: 60px;
			  z-index: 2;

			  @media #{$medium-up} {
			  	font-size: 9px;
			  	height: 11px;
			  	line-height: 11px;
			  	width: 75px;
			  }
			}

			.actions {
				border-bottom: 1px solid $ebb;
				height: 35px;

				@media #{$medium-up} {
					height: 50px;
				}

				.action-phone,
				.action-uber {
					cursor: pointer;
  				padding: 5px 5px;
  				width: 80px;
				  text-align: center;
				  font-size: 25px;
				  top: 1px;
				  position: absolute;

				  @media #{$medium-up} {
						padding: 5px 7px;
				  	width: 110px;
				  	top: 5px;
				  }
				}

				.action-phone {
					border-right: 1px solid $ebb;
					font-size: 20px;
					left: 0;

					@media #{$medium-up} {
						font-size: 25px;
					}
				}

				.action-uber {
					border-left: 1px solid $ebb;
					right: 0;

					.url {
						outline: none;
					}

					.icon {
						background-color: $ebony;
						background-position: 3px;
						background-repeat: no-repeat;
						background-size: 18px;
					  @include border-radius(4px);
					  background-image: $uber-badge;
					  height: 22px;
					  margin: auto;
					  position: relative;
					  width: 85px;

					  @media #{$medium-up} {
					    height: 26px;
					    width: 117px;
  						background-position: 6px;

	 					  &:before {
							  color: $silver;
							  content: 'Ride with Uber';
							  font-size: 7px;
							  height: 10px;
							  left: 25px;
							  line-height: 1;
							  position: absolute;
							  top: 3px;
						  }

					  	&:before {
						    font-size: 8px;
						    left: 30px;
					  	}
					  }
					}

					.estimate {
					  color: $white;
					  font-size: 9px;
					  font-weight: $font-light;
					  left: 31px;
					  line-height: 1.2;
					  overflow: hidden;
					  position: absolute;
					  text-align: left;
					  text-overflow: ellipsis;
					  top: 11px;
					  white-space: nowrap;
					  width: 55px;

					  @media #{$medium-up} {
					    font-size: 9px;
					    left: 38px;
					    top: 18px;
					    width: 80px;
					  }
					}
				}
			}

			.info {
	  		position: relative;

				.info-item {
				  position: relative;
				  padding: 7px 5px 7px 20px;

				  @media #{$medium-up} {
				  	padding: 7px 5px 7px 25px;
				  }

					.icon {
					  color: $gray-chateau;
					  font-size: 14px;
					  position: absolute;
					  left: 0;
					  top: 6px;

					  @media #{$medium-up} {
							font-size: 15px;
					  }
					}

					p {
				  	color: $rolling-stone;
				  	font-size: 10px;
				  	line-height: 1.2;

				  	@media #{$medium-up} {
				  		font-size: 11px;
				  	}
					}

					&.place-info {
  					min-height: 40px;

						.place-name {
						  color: $tundora;
						  margin-bottom: 4px;
						  font-weight: 600;
						}

						.place-address {
						  font-size: 10px;
						  max-height: 58px;
						  overflow: hidden;
						}
					}

					&.place-website {
						border-top: 1px solid $ebb;

						.url {
							color: $tundora;
							display: inline-block;
							text-decoration: none;
							font-weight: 600;
							width: 100%;
						}
					}
				}
			}
		}

		.modal-overlay {
		  background: rgba(255, 255, 255, 0.95);
		  border: 8px solid rgba(218, 222, 227, 0.9);
		  box-sizing: border-box;
		  height: 100%;
		  padding: 5px;
		  position: absolute;
		  top: 0;
		  width: 100%;
		  z-index: 9999;

		  .modal-overlay-message {
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				text-align: center;
				top: 150px;
		  }

		  .place-phone {
		  	height: 130px;
			  font-family: 'Lato', sans-serif;
			  font-size: 20px;
			  font-weight: 300;
			  margin: 65px 0;
			  text-align: center;

			  &::selection {
			  	background: none;
			  }

			  &::-moz-selection {
			  	background: none;
			  }

			  @media #{$medium-up} {
			  	font-size: 25px;
			  }
		  }

		  .actions {
			  bottom: -8px;
			  height: 92px;
			  left: 0;
			  margin: 0;
			  margin: auto;
			  padding: 0;
			  position: absolute;
			  right: 0;
			  width: 96%;

			  .button-group {
					position: absolute;
					top: 0;
					height: 40px;

					.button.copy {
						display: none;
					}

					@media #{$medium-up} {
						.button.copy {
							display: inline-block;
						}
					}
			  }

			  .button.cancel {
				  position: absolute;
				  bottom: 0;
			  }
		  }
		}

		.modal-footer {
		  border-top: 1px solid $ebb;
		  height: 28px;
		  margin: auto 10px;
		  padding: 6px 0;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  z-index: 1;

		  @media #{$medium-up} {
		  	height: 35px;
		  	padding: 10px 0 12px;
		  }

			.button-foursquare {
			  @include border-radius(20px);
			  border: 1px solid;
			  color: $violet-red;
			  display: block;
			  font-size: 13px;
			  font-weight: 400;
			  margin: auto;
			  padding: 1px;
			  text-align: center;
			  text-decoration: none;
			  width: 175px;

			  @media #{$medium-up} {
			  	font-size: 15px;
			  	width: 230px;
			  	padding: 5px;
			  }

			  .icon {
			  	font-size: 13px;
			  	margin-right: 6px;
			  }
			}
		}

		.modal-loading {
		  position: absolute;
		  top: 0;
		  left: 0;
		  background: transparent;
		  z-index: 9999;
		  width: 100%;
		  height: 100%;
		}
	}
}
