
// Info Modal

.modal {
	background: #fff;
	@include border-radius(7px);
	display: none;
	width: 270px;
	height: 115px;
	left: 230px;
	right: 0;
	top: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 1000;

	&.modal-stage-01 {
		@include transition(all .15s ease-in-out);
		top: 105px;

		.image {
			opacity: 0;
		}

		.modal-body,
		.modal-footer {
			display: none;
			opacity: 0;
		}
	}

	&.modal-stage-02 {
		@include transition(all .05s linear);
		height: 350px;

		.image {
			opacity: 1;
		}
	}

	&.modal-stage-03 {
		
		.modal-body,
		.modal-footer {
			display: block;
			@include animation(fade-in 0.4s 0.3s normal forwards);	
		}
	}

	.modal-content {
		height: 100%;
		position: relative;

		.modal-header {
			background: #505050;
			position: relative;
			height: 130px;
			z-index: 2;

			.top-bar {
				background: $accent-color;
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 100%;
				z-index: 3;

				.close-modal {
					font-size: 10px;
					position: absolute;
					top: 0px;
					right: 3px;
					&:hover {
						cursor: pointer;
					}

					.icon-outer {
						color: #fff;
					}

					.icon-inner {
						color: #fff;
						top: -1px;
					}
				}
			}

			.image {
				background-size: cover;
				background-position: center center;
				height: 100%;
			}

			.bottom-bar {
				background: $accent-color;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				.place-rating {
				  background: $accent-color;
				  @include border-radius(4px);
				  border: 2px solid #fff;
				  color: #fff;
				  font-size: 10px;
				  font-weight: 300;
				  height: 20px;
				  left: 0;
				  line-height: 1.8;
				  margin: auto;
				  position: absolute;
				  right: 0;
				  text-align: center;
				  top: -11px;
				  width: 22px;
				}
			}
		}

		.modal-body {
			position: relative;
			margin: 10px;
			z-index: 1;

			.actions {
				border-bottom: 1px solid #e8e6e4;
				height: 50px;

				.action-phone,
				.action-uber {
				  padding: 5px 7px;
				  width: 110px;
				  text-align: center;
				  font-size: 25px;
				  top: 5px;
				  position: absolute;
				}

				.action-phone {
					border-right: 1px solid #e8e6e4;
					cursor: pointer;
					left: 0;
				}

				.action-uber {
					border-left: 1px solid #e8e6e4;
					right: 0;
				}
			}

			.info {
	  		padding: 15px 5px 0 25px;
	  		position: relative;
				&:before {
				  content: "\f14e";
				  position: absolute;
				  top: 14px;
				  left: 0;
				  color: #a3a8ab;
				  display: inline-block;
				  font: normal normal normal 14px/1 FontAwesome;
				  font-size: inherit;
				  text-rendering: auto;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
				  transform: translate(0, 0);
				}

				.place-name {
				  color: #404040;
				  margin-bottom: 4px;
				  font-weight: 600;
				}

				.place-address {
					outline: none;
				}

				p {
				  color: #727b7f;
				  font-size: 11px;
				  line-height: 1.2;
				}
			}
		}

		.modal-overlay {
		  @include transition(all 0.2s linear);
		  background: rgba(255, 255, 255, 0.95);
		  border: 8px solid rgba(218, 222, 227, 0.9);
		  box-sizing: border-box;
		  height: 100%;
		  opacity: 0.5;
		  padding: 5px;
		  position: absolute;
		  top: 350px;
		  width: 100%;
		  z-index: 3;

		  &.modal-overlay-open {
		  	top: 0;
		  	opacity: 1;
		  }

		  .place-phone {
		  	height: 110px;
			  font-family: 'Lato', sans-serif;
			  font-size: 25px;
			  font-weight: 300;
			  margin: 65px 0;
			  text-align: center;
		  }

		  .actions {
			  position: relative;
			  bottom: -5px;
			  height: 90px;

			  .button-group {
					position: absolute;
					top: 0;
			  }

			  .button.cancel {
				  position: absolute;
				  bottom: 0;
			  }
		  }
		}

		.modal-footer {
		  border-top: 1px solid #e8e6e4;
		  margin: auto 10px;
		  padding: 10px 0 12px;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  z-index: 1;

			.button-foursquare {
			  @include border-radius(20px);
			  border: 1px solid;
			  color: #f84777;
			  display: block;
			  font-weight: 400;
			  margin: auto;
			  padding: 5px;
			  text-align: center;
			  text-decoration: none;
			  width: 230px;

			  .icon {
			  	font-size: 13px;
			  	margin-right: 6px;
			  }
			}
		}
	}
}
