
// Rating

.rating {
	unicode-bidi: bidi-override;	

	span.star {
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: inherit;

		&:before {
		  content: "\f005";
		  padding: 1px;
		  color: $silver-sand;
		}
	}

	.star-icon {
		content: "\f005";
		color: $chenin;
	}

	&.rating-00 {
		.star {
			display: none;
		}

		&:before {
			content: 'No Ratings';
			color: $gray;
		  display: block;
		}
	}

	&.rating-01 {
  	.star-01:before {
			@extend .star-icon;
  	}
  }

  &.rating-02 {
	  .star-01:before, .star-02:before {
			@extend .star-icon;
  	}			  	
  }

  &.rating-03 {
	  .star-01:before, .star-02:before, .star-03:before {
			@extend .star-icon;
  	}					  	
  }

  &.rating-04 {
	  .star-01:before, .star-02:before, .star-03:before, .star-04:before {
			@extend .star-icon;
  	}				  	
  }

  &.rating-05 {
	  .star-01:before, .star-02:before, .star-03:before, .star-04:before, .star-05:before {
			@extend .star-icon;
  	}						  	
  }	
}